html {
  --color-accent: oklch(31.585% 0.12938 269.67);
  accent-color: var(--color-accent);
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

nav {
  display: flex;
  margin-bottom: 1ch;
  border-bottom: 1px solid oklch(80% 3% 200);

  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  
    &.current {
      background-color: oklch(from var(--color-accent) 95% 5% h);
      border-bottom: 1px solid oklch(80% 3% 200);
      padding-bottom: 0.4em;
    }

    &:hover {
      background-color: oklch(from var(--color-accent) 95% 5% h);
      border-bottom: 1px solid var(--color-accent);
      padding-bottom: 0.4em;
    }
  }
}

input, textarea, button {
  font-family: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
  button {
    grid-column: 1 / -1;
  }
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    h2 {
      margin: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%
}

.resume {
  section {
    margin-bottom: 2rem;
    
    h2 {
      margin-bottom: 1em;
    }
  }

  article {
    margin-bottom: 1.5em;

    h3 {
      margin-bottom: 0.5em;
    }

    p {
      margin-bottom: 0.5em;
      margin-left: 4em;
    }
  }
  nav {
    p {
      display: block;
      margin-left: 0;
    }
  }
}

.info {
  text-align: center;
}